[Desktop Entry]
Name=Pedlbrd
Exec=/opt/pedlbrd/pedlbrd
Icon=/opt/pedlbrd/pedlbrd-icon.png
Terminal=false
Type=Application
Categories=Utility;Application;